.eisenhower-grid{
    margin-top: auto;
}

.eisenhower-label{
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}

.eisenhower-row{
    min-height: 200px;
}

.eisenhower-col{
    height: 200px;
    overflow-y: auto;
    border: 1px solid rgba(22, 22, 22, .3);
}

.urgent-important{
    background-color: #b2ff9e;
    color: black;
}

.not-urgent-important{
    background-color: #0081a7;
}

.urgent-not-important{
    background-color: #fed9b7;
    color: black;
}

.not-urgent-not-important{
    background-color: #f07167;
}

.tasks{
    font-size: 12px;
    width: 100%;
    background: rgba( 255, 255, 255, 1);
    padding: 6px 8px;
    margin-bottom: 2px;
    border-radius: 15px;
}